body {
    background: gray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 100;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    overflow: hidden; /* Prevents scrolling */
}

.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

